<div class="page-header">
  <h1>Dashboard</h1>
  <%= link_to image_tag("http://connect.soundcloud.com/2/btn-connect-sc-m.png", border: 0), soundcloud_connect_path%>
</div>
<p>Find me in app/views/home/index.html.erb</p>

